
  <div class=" col-12">
    <h2 class="mb-10">Welcome, {{username}}!</h2>

  </div>

<div class="row">
  <div class="col-12">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Post Details:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn custom-btn">Create</button>
      </div>
    </form>
  </div>

{{#if posts.length}}
<div class="col-md-6 post-list">
  <h3>Current Posts:</h3>

{{#each posts as |post|}}
<div class="card mt-3">
  <div class="card-header custom-card-header justify-space-between">
    <h5 class="custom-card-header updateTitle">{{title}}</h5>
    <div>Posted by you on {{format_date createdAt}}
    </div>
  </div>
  <div class="card-body custom-card">
    {{!-- <p class="card-text">{{content}}</p> --}}
    <textarea class="form-input" id="updateContent" name="post-content">{{content}}</textarea>
  </div>
  <div class="col-md-4">
    <button class="btn btn-sm custom-btn" id="update" post-id="{{post.id}}">UPDATE</button>
  </div>
  <div class="col-md-4">
    <div>
    <button class="btn btn-sm custom-btn mt-2" id="delete" post-id="{{post.id}}">DELETE</button>
    </div>
  </div>
</div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>

